<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit adept power</title>
</head>
<body>

<form th:method="PUT" th:action="@{/adepts/{id}(id=${adept.getId()})}" th:object="${adept}">
    <label for="nameRu">Название (ru): </label>
    <input type="text" th:field="*{nameRu}" id="nameRu">
    <div style="color:red" th:if="${#fields.hasErrors('nameRu')}" th:errors="*{nameRu}">Name error</div>
    <br>

    <label for="nameEn">Название (en): </label>
    <input type="text" th:field="*{nameEn}" id="nameEn">
    <div style="color:red" th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}">Name error</div>
    <br>

    <label for="cost">Цена: </label>
    <input type="text" th:field="*{cost}" id="cost">
    <div style="color:red" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Cost error</div>
    <br>

    <label for="activation">Активация: </label>
    <select id="activation" th:field="*{activation}">
        <option th:value="'MIN'" th:text="minor"></option>
        <option th:value="'MAJ'" th:text="major"></option>
        <option th:value="'PAS'" th:text="passive"></option>
    </select>
    <br>

    <label for="descRu">Описание (ru): </label>
    <input type="text" th:field="*{descriptionRu}" id="descRu">
    <div style="color:red" th:if="${#fields.hasErrors('descriptionRu')}" th:errors="*{descriptionRu}">Desc error</div>
    <br>

    <label for="descEn">Описание (en): </label>
    <input type="text" th:field="*{descriptionEn}" id="descEn">
    <div style="color:red" th:if="${#fields.hasErrors('descriptionEn')}" th:errors="*{descriptionEn}">Desc error</div>
    <br>

    <input type="submit" value="Изменить"/>
</form>

<form th:method="DELETE" th:action="@{/adepts/{id}(id=${adept.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>